/** 
 * @file
 * Subtheme specific CSS. Jenkins push 2
 */
 #block-mainnavigation-2 ul#superfish-main {width: 72em; }
 #block-mainnavigation-2 ul#superfish-main > li { width: 14em; }
 #block-mainnavigation-2 ul#superfish-main > li,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul li {
     background-color: #fff;
    }
    #block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent{ height: 4em; }
    .node--type-interagency-group #block-mpte-boot4-content h3 {font-size: 1.3em; margin-top: 0.7em;}
    .node--type-interagency-group #block-mpte-boot4-content .field--name-field-other-partnerships-specify {margin-top: -1em;}
    .node--type-interagency-group a[href="/taxonomy/term/404"] {display: none;}
    label[for="partnerships-General-education-staff-including-guidance-counselors"] {width: 75%;}
    .view-search-content ul li {font-size: 1.2em; padding: .4em 0;}
    @media only screen and (min-width: 768px) {

        .navbar-collapse.collapse {
          display: block !important;
        }
    .collapse:not(.show) {

        display: block;
    
    }
}
#superfish-main ul {background-color: #fff; }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #superfish-main > li:nth-child(1) > a {color:white; background-color:#A5D48F;}
    #superfish-main > li:nth-child(2) > a {color:white; background-color:#D26716;}
    #superfish-main > li:nth-child(3) > a {color:white; background-color:#8665AB;}
    #superfish-main > li:nth-child(4) > a {color:white; background-color:#00A6A5;}
    #superfish-main > li:nth-child(4) > a:hover {color: white;}
    #superfish-main > li:nth-child(5) > a {background-color: #3976B8; color:white;}
    .lilright {padding-left:3em;}
    #superfish-main > li {min-width: 180px; border:2px solid white;}
  
    h1#siteTitle {width: 60%; float: left; margin-top: 20px; margin-bottom: 15px;}
    h3.site-name-slogan {margin-bottom: 40px;}
  }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        #superfish-main > li {min-width: 180px; border:2px solid white;}
      
    }
    #superfish-main > li  > a {text-transform: uppercase; }

   #block-schooldistricts .distNote { font-size: 85%; font-style: italic; }
   label[for="partnerships-General-education-staff-including-guidance-counselors"],label[for="partners-General-education-staff-including-guidance-counselors"] { display: block; padding-left: 22px; margin-top: -24px;}
   header a.navbar-brand { margin-top: 18px; width: 250px;float: left;}

    